.card {
  height: 30vh;
  width: 17vw;
  margin: 10px 15px;
  border: 4px solid teal;
  background-color: seashell;
  color: teal;
  font-size: 2.5vh;
}

.name {
  font-weight: bold;
}

button {
  height: 2em;
  width: 80%;
  background-color: teal;
  color: seashell;
  border: 1px solid seashell;
  font-size: 2.2vh;
}

button:hover {
  background-color: seashell;
  color: teal;
  border-color: teal;
  cursor: pointer;
}