form {
  width: 95%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

input {
  width: 15%;
  margin: 10px;
  font-size: 1.25em;
}

.submit-button {
  background-color: teal;
  color: seashell;
  border: 1px solid seashell;
}

.submit-button:hover {
  background-color: seashell;
  color: teal;
  cursor: pointer;
}